<div  class="img-fluid">
  <!-- <img src="../../../assets/img/banner6.jpg"> -->
  <div class="container">
    <img src="../../../assets/img/foto-perfil.png" class="img-fluid float-left img-perfil" id="img-perfil">
  </div>
  <!-- <img src="../../../assets/img/banner5.jpg"> -->
  <img src="../../../assets/img/banner3.jpg" class="banner" id="banner"><!-- El que parece universo con lineas  -->
  <!-- <img src="../../../assets/img/banner.webp"> Rosa y violeta con circulos brillantes -->

  <!-- <img src="../../../assets/img/banner1.webp"> Rosa con brillos -->
</div>
