<div class="card">
    <div class="row">
        <div class="col-12">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreInsti">Nombre de la Institución <span class="required">*</span></label>
                    <input type="text" class="form-control" id="nombreInsti" name="nombreInsti" [(ngModel)]="edu.nombreInsti" placeholder="Nombre de la Institución" required>
                </div>
                <div class="form-group">    
                    <label for="tituloEdu">Título recibido <span class="required">*</span></label>
                    <input type="text" class="form-control" id="tituloEdu" name="tituloEdu" [(ngModel)]="edu.tituloEdu" placeholder="Título recibido" required>
                </div>    

                <div class="form-group">
                    <label for="fechaComienzoEdu">Fecha de Comienzo <span class="required">*</span></label>
                    <input type="date" class="form-control" id="fechaComienzoEdu" name="fechaComienzoEdu" date="yyyy-MM-dd" [(ngModel)]="edu.fechaInicioEdu" required >
                    <p>Valor Actual: {{edu.fechaInicioEdu | date:'dd-MM-yyyy'}}</p>
                </div>  

                <div class="form-group" >  
                    <label for="fechaFinEdu">Fecha de Fin <span class="required">*</span></label>
                    <input type="date" class="form-control" id="fechaFinEdu" name="fechaFinEdu" date="yyyy-MM-dd"   [(ngModel)]="edu.fechaFinEdu" required>
                    <p>Valor Actual: {{edu.fechaFinEdu | date:'dd-MM-yyyy'}}</p>
                </div>

                <div class="form-group">    
                    <label for="descripcionEdu">Descripción <span class="required">*</span></label>
                    <textarea type="text" class="form-control" id="descripcionEdu" name="descripcionEdu" [(ngModel)]="edu.descripcionEdu" placeholder="Descripción" required></textarea>
                </div> 

                <div class="form-group">    
                    <label for="nivelEdu">Nivel de Estudio <span class="required">*</span></label>
                    <input type="text" class="form-control" id="nivelEdu" name="nivelEdu" [(ngModel)]="edu.nivelEdu" placeholder="Nivel educativo" required>
                </div> 
                

                <div class="form-group">
                    <label for="logoEdu">URL Logo</label>
                    <input type="text" class="form-control" id="logoEdu" name="logoEdu" [(ngModel)]="edu.logoEdu" placeholder="URL del logo" required>

                </div>
                
                
                <button class="btn btn-warning float-right">
                    Actualizar
                </button>
                <button class="btn btn-info float-right"  routerLink="">
                    Volver
                </button>
            </form>
        </div>
    </div>
</div>
