<div class="card descripcion">
  
  <div class="row">

    <div class="titulo">
      <h1> Educacion 
      </h1>
        <button class="btn btn-success" routerLink="/nuevaEdu" *ngIf="isLogged">
          <i class="fa-solid fa-plus"></i>
        </button>
      <hr class="undarline">
    </div>
    
    <div class="card educacion" *ngFor="let Educacion of educacion">
      
      <div class="row">

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 container">
         
            <img src="{{Educacion.logoEdu}}" class="img-fluid logo" >
          
        </div>

        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 descripcion-educacion">

          <h2>{{Educacion.nombreInsti}}</h2> 
          
          <h3>{{Educacion.tituloEdu}}</h3>
          
          <span *ngIf="Educacion.fechaFinEdu != null">
            <h4> {{Educacion.fechaInicioEdu | date : 'MMMM y' : 'es-AR'}}  - 
              {{Educacion.fechaFinEdu | date : 'MMMM y'  : 'es-AR' }} 
              /
              {{Educacion.nivelEdu}}  
            </h4> 

          </span>
          
          <span *ngIf="Educacion.fechaFinEdu == null">
             
            <h4> {{Educacion.fechaInicioEdu | date:'MMMM y' : 'es-AR'}}  - Actualidad  
              /
              {{Educacion.nivelEdu}}  
            </h4>
          </span>
          
          <p *ngIf="Educacion.descripcionEdu != null">{{Educacion.descripcionEdu}}</p>
          
          
          <div class="row " *ngIf="isLogged">
            <div class="col-3 col-offset-9  btn-edit-delete">
              <button class="btn btn-edit float-right" routerLink="/editEdu/{{Educacion.id}}">
                <i class="fa-solid fa-pen"></i>
              </button>
              <button class="btn btn-delete float-right" (click)="delete(Educacion.id)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>


        </div>

      </div>
      
    </div>

  </div> 

</div>

<app-separador></app-separador>
