<div class="card descripcion">
  
    <div class="row">
      <div class="titulo">
        <h1> Educacion</h1>
        <hr class="undarline">
      </div>
      
      <div class="card educacion ">
        <div class="row ">
  
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 descripcion-educacion">
                <h2>Desarrollador Web</h2> - <h3> Julio 2020 - Actualidad</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 container">
                
                <img src="../../../assets/img/logo.png" class="img-fluid logo" >
            
            </div>

        </div>
      </div>
      
      
  
    </div> 
  </div>
  
  <app-separador></app-separador>
  
