* {
    text-transform: capitalize;
}

.row-principal {
    --bs-gutter-x: -1.5rem;
    margin: inherit;
    border-radius: 3em;
    padding: 2em;
}

h4,
h5 {
    display: inline;
}

h2,
h3 {
    font-size: calc(1.3rem + 0.1vw);
}

p {
    font-size: calc(1.2em + 0.1vw);
    padding-top: 2%;
}

.card {
    text-align: center;
    vertical-align: middle;
}

.card-header {
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
}

h1,
button {
    display: inline;
}

.descripcion {
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 5px #999;
    padding: 3%;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1%;
    background: repeating-linear-gradient(145deg, lavender, lavender, transparent 226px);
    border: none;
    padding-bottom: 0;


    /* Otros estilos */
    /* background: repeating-linear-gradient(145deg, lavender, lavender, transparent 28px); */
    /* border-radius: 2em; */
    /* background: repeating-linear-gradient(145deg, white, lavender, transparent 6px); */
    /* background: transparent; */
    /* ******************* */
}

h1 {

    margin-bottom: 2%;
}

hr {

    border: 0;
    height: 2.5px;
    background: linear-gradient(45deg, transparent, black, transparent);

}

.titulo {

    text-align: right;
    background: linear-gradient(-7deg, transparent, white, transparent 121px);

}

.educacion {

    text-align: center;
    padding: 2%;
    border-radius: 1em;
    box-shadow: 0px 17px 14px -18px rgb(0 0 0 / 36%);
    border-top: none;
    border-right: none;
    margin-bottom: 2em;
    border-left: none;


}

.logo,
.descripcion-educacion {

    align-self: center;
    border-radius: 1em;

}

.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.btn:hover {
    background-color: grey;
}

.btn-edit {
    color: #ffc107;
}

.btn-delete {
    color: #dc3545;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    margin-top: -2.5%;
}

.btn-edit-delete {
    margin-inline-start: auto;
}

@media (max-width: 576px) {

    .logo {
        width: 20%;
        margin-bottom: 4%;
    }

    .descripcion {
        margin-left: 1em;
        margin-right: 1em;
    }

}