<div class="card">
    <div class="row">
        <div class="col-12">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreP">Nombre del Proyecto <span class="required">*</span></label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP" placeholder="Nombre del Proyecto" required>

                    <p *ngIf="nombreP.length > 255 " class="msj-error">Máximo 255 caracteres</p>

                </div>
                <div class="form-group">    
                    <label for="descripcionP">Descripción <span class="required">*</span></label>
                    <textarea type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="descripcionP" placeholder="Descripción" required></textarea>
                </div>    

                <div class="form-group">    
                    <label for="urlP">URL del Proyecto <span class="required">*</span></label>
                    <input type="text" class="form-control" id="urlP" name="urlP" [(ngModel)]="urlP" placeholder="URL del Proyecto" required>

                    <p *ngIf="urlP.length > 255 " class="msj-error">La URL debe tener máximo 255 caracteres</p>

                </div> 

                <div class="form-group">    
                    <label for="yearP">Año del proyecto </label>
                    <input type="text" class="form-control" id="yearP" name="yearP" [(ngModel)]="yearP" placeholder="Año del proyecto" required>

                    <p *ngIf="year.errors && yearP.length > 0" class="msj-error">El Año solo puede contener números y ser 4 caracteres máximo</p>

                </div> 
                

                <div class="form-group">
                    <label for="logoP">URL Logo</label>
                    <input type="text" class="form-control" id="logoP" name="logoP" [(ngModel)]="logoP" placeholder="URL del logo" required>

                    <p *ngIf="urlP.length > 255 " class="msj-error">La URL debe tener máximo 255 caracteres</p>


                </div>
                
                
                <button class="btn btn-success float-right">
                    Agregar Proyecto
                </button>
                <button class="btn btn-info float-right"  routerLink="">
                    Volver
                </button>
            </form>
        </div>
    </div>
</div>
