<div class="card descripcion">

  <div class="row">

    <div class="titulo">
      <h1> Proyecto </h1>
      <button class="btn btn-success" routerLink="/nuevoP" *ngIf="isLogged">
        <i class="fa-solid fa-plus"></i>
      </button>
      <hr class="undarline">
    </div>

    <div class="card proyecto" *ngFor="let Proyecto of proyecto">

      <div class="row">

        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 container">

          <img src="{{Proyecto.logoP}}" class="img-fluid logo">

        </div>

        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 descripcion-proyecto">

          <h2>{{Proyecto.nombreP}}

            <span *ngIf="Proyecto.yearP != null">
              <h3> - {{Proyecto.yearP | date : 'y' : 'es-AR'}} </h3>
            </span>

          </h2>

          <h6><a href="{{Proyecto.urlP}}" target="_blank"> Ir al Proyecto <sup><i class="fa-solid fa-up-right-from-square"></i></sup></a></h6>

          <p *ngIf="Proyecto.descripcionP != null">{{Proyecto.descripcionP}}</p>

          <div class="row " *ngIf="isLogged">
            <div class="col-3 col-offset-9 btn-edit-delete">
              <button class="btn btn-edit float-right" routerLink="/editP/{{Proyecto.id}}">
                <i class="fa-solid fa-pen"></i>
              </button>
              <button class="btn btn-delete float-right" (click)="delete(Proyecto.id)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
  
</div>

<app-separador></app-separador>