

h2, h3{
    display: inline;
}
h1, button{
    display: inline;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    margin-top: -2.5%;
}
.btn:hover{
    background-color: #a6efb7;
}

.btn-edit{
    color: #ffc107;
}
.btn-delete{
    color: #dc3545;
}


.card{
    text-align: center;
    vertical-align: middle;
}

.card-header{
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
}


.descripcion{
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 5px #999;
    padding: 3%;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1%;
    background: repeating-linear-gradient(145deg, lavender, lavender, transparent 226px);
    border: none;
    padding-bottom: 0;

    /* otro estilo */
        /* border-radius: 2em; */
        /* background: repeating-linear-gradient(145deg, lavender, lavender, transparent 28px); */
        /* background: repeating-linear-gradient(145deg, white, lavender, transparent 6px); */
        /* background: transparent; */
    /* ***************** */
}


h1{
    
    margin-bottom:2%;
}

hr{
    
    border: 0; 
    height: 2.5px; 
    background: linear-gradient(45deg, transparent, black, transparent);

}

.titulo{
    text-align: right;
    background: linear-gradient(-7deg, transparent, white, transparent 121px);
}

.hys{
  
    text-align: center;
    padding: 2%;
    border-radius: 1.5em;
    box-shadow: -15px 3px 39px -25px rgb(0 0 0 / 44%);
    border-top: none;
    border-right: none;
    margin-bottom: 2em;
    border-left: none;
    background-color: #fff;
 
}

.logo, .descripcion-hys{
    align-self: center;
    border-radius: 5em;

}
.container{
    display: flex;
    justify-content: center;
    position: relative;
}
.btn-delete, .btn-edit{
    padding: 0;
    margin: 2px;
}

.fa-solid, .fa-pen{
    font-size: small;
}
.fa-solid, .fa-trash{
    font-size: small;
}


@media (max-width: 576px){

    .logo{
        width: 20%;
        margin-bottom: 4%;
    }
    
    .btn-delete, .btn-edit{
        padding: 0;
        margin: 2px;
    }
    
    .fa-solid, .fa-pen{
        font-size: xx-small;
    }
    .fa-solid, .fa-trash{
        font-size: xx-small;
    }
    /* .btn-success{
        font-size: xx-small;
    } */
   
    /* h1, button{
       
        font-size: calc(1.3rem + 0.1vw);
    
    } */
    .descripcion{
        margin-left: 1em;
        margin-right: 1em;
    }

}