<div class="card descripcion">
    <!-- <div class="container-fluid"> -->
        <!-- <div class="row"> -->
            <div class="titulo">
                <h1> Hard & Soft Skills
                </h1>
                <hr class="undarline">
            </div>
        
        <!-- <div class="card educacion "> -->
            <div class="row ">
    
            <div class="col-4 col-sm-2 col-md-2 col-lg-2 container educacion">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [title]="'HTML'"
                    [outerStrokeWidth]="5"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#c5a6dd'"
                    [outerStrokeGradient]="true"
                    outerStrokeGradientStopColor = #e2c0f2
                    [innerStrokeColor]="'#e5e5e6'"
                    [animation]="true"
                    [animationDuration]="300"
                    titleFontSize= 3em
                    [imageSrc]="'assets/img/html-logo.png'"
                    [showImage]="true"
                    [imageWidth]="100"
                    [imageHeight]="100"
                    [responsive]="true"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    
                ></circle-progress>
                <!-- <div class="container"> -->
                <!-- <img src="../../../assets/img/logo.png" class="img-fluid logo" > -->
                <!-- </div> -->
                
            </div>
            <div class="col-4 col-sm-2 col-md-2 col-lg-2 container educacion">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [title]="'JS'"
                    [outerStrokeWidth]="5"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#c5a6dd'"
                    [outerStrokeGradient]="true"
                    outerStrokeGradientStopColor = #e2c0f2
                    [innerStrokeColor]="'#e5e5e6'"
                    [animation]="true"
                    [animationDuration]="300"
                    titleFontSize= 3em
                    [imageSrc]="'assets/img/js-logo.png'"
                    [showImage]="true"
                    [imageWidth]="100"
                    [imageHeight]="100"
                    [responsive]="true"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    
                    
                ></circle-progress>
                <!-- <div class="container"> -->
                <!-- <img src="../../../assets/img/logo.png" class="img-fluid logo" > -->
                <!-- </div> -->
                
            </div>
            <div class="col-4 col-sm-2 col-md-2 col-lg-2 container educacion">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [title]="'CSS'"
                    [outerStrokeWidth]="5"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#c5a6dd'"
                    [outerStrokeGradient]="true"
                    outerStrokeGradientStopColor = #e2c0f2
                    [innerStrokeColor]="'#e5e5e6'"
                    [animation]="true"
                    [animationDuration]="300"
                    titleFontSize= 3em
                    [imageSrc]="'assets/img/CSS-Logo.png'"
                    [showImage]="true"
                    [imageWidth]="100"
                    [imageHeight]="100"
                    [responsive]="true"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    
                ></circle-progress>
                <!-- <div class="container"> -->
                <!-- <img src="../../../assets/img/logo.png" class="img-fluid logo" > -->
                <!-- </div> -->
                
            </div>
            <div class="col-4 col-sm-2 col-md-2 col-lg-2 container educacion">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [title]="'php'"
                    [outerStrokeWidth]="5"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#c5a6dd'"
                    [outerStrokeGradient]="true"
                    outerStrokeGradientStopColor = #e2c0f2
                    [innerStrokeColor]="'#e5e5e6'"
                    [animation]="true"
                    [animationDuration]="300"
                    titleFontSize= 3em
                    [imageSrc]="'assets/img/php-logo.png'"
                    [showImage]="true"
                    [imageWidth]="100"
                    [imageHeight]="100"
                    [responsive]="true"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    
                ></circle-progress>
            
                
            </div>
            
            <div class="col-4 col-sm-2 col-md-2 col-lg-2 container educacion">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [title]="'mysql'"
                    [outerStrokeWidth]="5"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#c5a6dd'"
                    [outerStrokeGradient]="true"
                    outerStrokeGradientStopColor = #e2c0f2
                    [innerStrokeColor]="'#e5e5e6'"
                    [animation]="true"
                    [animationDuration]="300"
                    titleFontSize= 3em
                    [imageSrc]="'assets/img/mysql-logo1.png'"
                    [showImage]="true"
                    [imageWidth]="100"
                    [imageHeight]="100"
                    [responsive]="true"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    
                ></circle-progress>
            
                
            </div>
            
            <div class="col-4 col-sm-2 col-md-2 col-lg-2 container educacion">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [title]="'bootstrap'"
                    [outerStrokeWidth]="5"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#c5a6dd'"
                    [outerStrokeGradient]="true"
                    outerStrokeGradientStopColor = #e2c0f2
                    [innerStrokeColor]="'#e5e5e6'"
                    [animation]="true"
                    [animationDuration]="300"
                    titleFontSize= 3em
                    [imageSrc]="'assets/img/bootstrap-logo.png'"
                    [showImage]="true"
                    [imageWidth]="100"
                    [imageHeight]="100"
                    [responsive]="true"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    
                ></circle-progress>
            
                
            </div>
            <div class="col-4 col-sm-2 col-md-2 col-lg-2 container educacion">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [title]="'jquery'"
                    [outerStrokeWidth]="5"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#c5a6dd'"
                    [outerStrokeGradient]="true"
                    outerStrokeGradientStopColor = #e2c0f2
                    [innerStrokeColor]="'#e5e5e6'"
                    [animation]="true"
                    [animationDuration]="300"
                    titleFontSize= 3em
                    [imageSrc]="'assets/img/jquery-logo.png'"
                    [showImage]="true"
                    [imageWidth]="100"
                    [imageHeight]="100"
                    [responsive]="true"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    
                ></circle-progress>
            
                
            </div>

            <div class="col-4 col-sm-2 col-md-2 col-lg-2 container educacion">
                <circle-progress
                    [percent]="20"
                    [radius]="100"
                    [title]="'net'"
                    [outerStrokeWidth]="5"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#c5a6dd'"
                    [outerStrokeGradient]="true"
                    outerStrokeGradientStopColor = #e2c0f2
                    [innerStrokeColor]="'#e5e5e6'"
                    [animation]="true"
                    [animationDuration]="300"
                    titleFontSize= 3em
                    [imageSrc]="'assets/img/net-core-logo.png'"
                    [showImage]="true"
                    [imageWidth]="100"
                    [imageHeight]="100"
                    [responsive]="true"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    
                ></circle-progress>
            </div>
            
            <div class="col-4 col-sm-2 col-md-2 col-lg-2 container educacion">
                <circle-progress
                    [percent]="50"
                    [radius]="100"
                    [title]="'angular'"
                    [outerStrokeWidth]="5"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#c5a6dd'"
                    [outerStrokeGradient]="true"
                    outerStrokeGradientStopColor = #e2c0f2
                    [innerStrokeColor]="'#e5e5e6'"
                    [animation]="true"
                    [animationDuration]="300"
                    titleFontSize= 3em
                    [imageSrc]="'assets/img/angular-logo.png'"
                    [showImage]="true"
                    [imageWidth]="100"
                    [imageHeight]="100"
                    [responsive]="true"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    
                ></circle-progress>
            </div>
            
            <div class="col-4 col-sm-2 col-md-2 col-lg-2 container educacion">
                <circle-progress
                    [percent]="80"
                    [radius]="100"
                    [title]="'github'"
                    [outerStrokeWidth]="5"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#c5a6dd'"
                    [outerStrokeGradient]="true"
                    outerStrokeGradientStopColor = #e2c0f2
                    [innerStrokeColor]="'#e5e5e6'"
                    [animation]="true"
                    [animationDuration]="300"
                    titleFontSize= 3em
                    [imageSrc]="'assets/img/github-logo.png'"
                    [showImage]="true"
                    [imageWidth]="100"
                    [imageHeight]="100"
                    [responsive]="true"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    
                ></circle-progress>
            </div>
            
            
            <div class="col-4 col-sm-2 col-md-2 col-lg-2 container educacion">
                <circle-progress
                    [percent]="50"
                    [radius]="100"
                    [title]="'java'"
                    [outerStrokeWidth]="5"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#c5a6dd'"
                    [outerStrokeGradient]="true"
                    outerStrokeGradientStopColor = #e2c0f2
                    [innerStrokeColor]="'#e5e5e6'"
                    [animation]="true"
                    [animationDuration]="300"
                    titleFontSize= 3em
                    [imageSrc]="'assets/img/java-logo.png'"
                    [showImage]="true"
                    [imageWidth]="100"
                    [imageHeight]="100"
                    [responsive]="true"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    
                ></circle-progress>
            </div>


            <div class="col-4 col-sm-2 col-md-2 col-lg-2 container educacion">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [title]="'office'"
                    [outerStrokeWidth]="5"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#c5a6dd'"
                    [outerStrokeGradient]="true"
                    outerStrokeGradientStopColor = #e2c0f2
                    [innerStrokeColor]="'#e5e5e6'"
                    [animation]="true"
                    [animationDuration]="300"
                    titleFontSize= 3em
                    [imageSrc]="'assets/img/microsoft-office-logo.png'"
                    [showImage]="true"
                    [imageWidth]="100"
                    [imageHeight]="100"
                    [responsive]="true"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    
                ></circle-progress>
            
                
            </div>
            
            </div>
        <!-- </div> -->
            
        <!-- </div>  -->
    <!-- </div> -->
  </div>
  
  <app-separador></app-separador>
  

