/* You can add global styles to this file, and also import other style files */

.background{
    /* text-align: center; */
    /* background-color: #dda6f629; */
    /* background-color: #dca6f632; */
    /* background-color: white; */
    background: rgb(212,171,255);
    background: linear-gradient(0deg, rgba(212,171,255,0.482110031512605) 17%, rgba(255,255,255,0.35886073179271705) 50%, rgba(212,171,255,0.8266478466386554) 81%);
    background: repeating-linear-gradient(145deg, lavender, lavender, transparent 226px);
    background: repeating-linear-gradient(180deg, white, lavender, transparent 226px);

}

.msj-error{
    color: red;
}

html{
    font-family: var(--font) !important;
}


.background-transparent{
    /* text-align: center; */
    /* background-color: #dda6f629; */
    /* background-color: #dca6f632; */
    background-color: transparent;

}

h1, h2, h3, h4, h5, h6, p, a{
    font-family: var(--font) !important;
}
h1, h2, h3{
    font-weight: 700 !important;
}
h4, h5, h6, p, a{
    font-weight: 400 !important;
}

/* h1{
    
    background: #d97bf21f;
    padding: 8px;
    border-radius: 8px;
    box-shadow: -14px 22px 11px -11px #999;
    
} */




