<div class="redes"> 
 <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/vanesa-soledad-rojo/" title="LinkedIn">

    <i class="fa-brands fa-linkedin fa-2x redSocial linkedin"></i>

  </a>

  <!-- <a target="_blank" rel="noopener" href="#" title="Twitter">

      <img id="twitter-logo" width="30" alt="Twitter Logo" src="../../../assets/img/Twitter-logo.png" data-name="Logo" /> -->

      <!-- <i class="fa-brands fa-twitter fa-2x redSocial"></i>

  </a> -->

  <a target="_blank" href="https://www.instagram.com/rojohime/" title="Instagram" class="instagram-background">
    
      <i class="fa-brands fa-instagram fa-2x redSocial instagram" viewBox="0 100 440 440"></i>
    

  </a>

  <a target="_blank"  href="https://www.facebook.com/vanesarojo18" title="Facebook" >

    <i class="fa-brands fa-facebook fa-2x redSocial facebook"></i>

  </a>

  <a target="_blank"  href="https://github.com/VaneRojo" title="Github" >

    <!-- <i class="fa-brands fa-facebook  facebook"></i> -->
    <i class="fa-brands fa-github fa-2x redSocial github"></i>

  </a>

  <!-- <a  href="/login" type="button" title="Sing In">  -->
  <button type="button" title="Sing In" (click)="login()" *ngIf="!isLogged"> 
    <i class="fa-solid fa-right-to-bracket fa-2x redSocial sing-in"></i>
  </button> 
  <button type="button" title="Sing Out" (click)="onLogOut()" *ngIf="isLogged"> 
    <i class="fa-solid fa-right-from-bracket fa-2x redSocial sing-out"></i>
    
  </button> 
</div>
<!-- <a target="_blank"  href="#" title="Sing In" > -->

  <!-- <i class="fa-brands fa-facebook  facebook"></i> -->
  
  

<!-- </a> -->

