a{
    padding: 5px;
}

.toolbar .redSocial {
    /* height: 40px; */
    margin: 0 10px;

}

.instagram{
    /* background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
   */

    border-radius: 40%;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
    -webkit-background-clip: text ;
          /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-box: view-box;
    transform: rotate(360deg);
    animation: rainbow 5s ease-in-out infinite;


  /* font-size: 200px; */
   /* change this to change the size*/
}

.toolbar .redSocial:hover{
    opacity: 0.8;
}