<a target="_blank" rel="noopener" href="https://www.linkedin.com/in/vanesa-soledad-rojo/" title="LinkedIn">

  <i class="fa-brands fa-linkedin fa-2x redSocial"></i>

</a>

<!-- <a target="_blank" rel="noopener" href="#" title="Twitter">

     <img id="twitter-logo" width="30" alt="Twitter Logo" src="../../../assets/img/Twitter-logo.png" data-name="Logo" /> -->

    <!-- <i class="fa-brands fa-twitter fa-2x redSocial"></i>

</a> -->

<a target="_blank" rel="noopener" href="https://www.instagram.com/rojohime/" title="Instagram">

  <i class="fa-brands fa-instagram fa-2x redSocial instagram"></i>

</a>

<a target="_blank" rel="noopener" href="https://www.facebook.com/vanesarojo18" title="Facebook">

  <i class="fa-brands fa-facebook fa-2x redSocial"></i>

</a>
