a{
    margin: 0 6px 0 6px;
}

.redSocial {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.instagram{
   color: white;
    padding-right: 0px;
    margin: -0.3px 3px -1.7px 2px;
}

.redSocial:hover{
    opacity: 0.8;
}

.facebook{
    border-radius: 65%;
    background-color: blanchedalmond;
}
.linkedin{
    border-radius: 21%;
    background-color: blanchedalmond;

}

.github{
    background: white;
    border-radius: 7em;
    color: black;
}

.sing-in{
    background: rgb(49 189 58);
    color: rgb(254, 253, 255);
    border-radius: 7em;
    padding: 0 0px 0px 5px;
}
.redes, .instagram{
    margin-bottom: 0.5px;
}
.instagram-background{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
    border-radius: 0.7em;
    display: inline-table;
    padding-left: 1.1px;
    padding-right: 1.1px;
    padding-top: 1.5px;
    padding-bottom: 0px;
}

button{
    background: none;
    border: none;
}

.sing-out{
    background: rgb(255, 40, 40);
    color: rgb(254, 253, 255);
    border-radius: 7em;
    padding: 0 5px 0px 0px;
}


