
img{
    position: relative;
    width: 6%;
    height: auto;
    left:30%
}
h1{
    display: inline-block;
    position: relative;
    width: 95%;
    height: auto;
    color: rgb(33, 33, 33);
    padding-top: 1%;
    margin-top: 1%;
}

h1::after, h1::before{
    content: "";
    position: absolute;
    width: 95%;
    height: 4px;
    background-color: violet;
    top: 2rem;
    border-radius: 5px;

    /* background-image: linear-gradient(left, #fff, #000, #fff); */
    /* background-image: linear-gradient(left, #fff, #000, #fff); */
}
h1::before{
    left: 0;
    width: 76%;
}
h1::after{
    right: 0;
    width: 16%;
}

img{
    text-align: right;
}

.row{
    padding: 0em 0em 1em 0;
    text-align: center;
}