

.card{
    text-align: center;
    vertical-align: middle;
}

.nombre{
    font-size: 1.5rem;
    font-weight: bold;
}

.titulo{
    font-size: 1.2rem;
    font-weight: bold;
}

.acerca-de{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.358);
}





.descripcion{
   
    justify-content: center;
    align-items: center;
    box-shadow: 9px 9px 10px rgb(0 0 0 / 30%);
    border-radius: 2em;
    padding: 3%;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.7em;
    /* margin-bottom: 5%; */
}
.img-acercaDe{
    width: 100%;
    height: auto;
    max-height: fit-content;
}

.acercaDe{
    margin-top: -54px;
}

@media (min-width: 576px) and (max-width: 1000px) {
    .descripcion{
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .acercaDe{
        margin-top: 0em;
    }
}
@media (max-width: 576px){

    .acercaDe{
        margin-top: 0;
    }

}
.btn-edit{
    color: #ffc107;
}

.row{
    padding-top: 0.5em;
    /* background-color: #e0baf138; */
    /* background-color: #dda6f629; */
    /* background-color: #dca6f632; */
    /* text-align: center; */
    margin-top:0;
    /* --bs-gutter-x: 1rem; */

}




.info-contacto{
    font-size: 1em;
    width: 100%;
}

.edit{
    margin-inline-start: auto;
}