
  <div class="row">
    <!-- <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 img-perfil-container"> -->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 nomTitulo">
      <p id="nombre" class="nombre">Rojo, Vanesa Soledad</p>
      <p id="titulo" class="titulo">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <div class="card">
        <div class="card-header">
          <h1>Acerca de mí</h1>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel distinctio quas culpa, adipisci esse saepe a non illum deleniti quaerat voluptate. Rerum sint velit sit voluptates culpa optio ea repellendus.</p>
        </div>
      </div>
    </div>
  </div>



