/* .img-perfil-container{
    margin-bottom: 20px;
    margin-top:-18%;
} */

/* .row-principal{
    --bs-gutter-x: -1.5rem;
    background-image: url(../../../assets/img/About-Me.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: inherit;
    margin-top: 1em;
    border-radius: 3em;
}
.card{
    text-align: center;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.358);
    border-radius: 3em;
}

.card-header{
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
} */

.card{
    text-align: center;
    vertical-align: middle;
}

.nombre{
    font-size: 1.5rem;
    font-weight: bold;
}

.titulo{
    font-size: 1.2rem;
    font-weight: bold;
}

.acerca-de{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.358);
}


.descripcion{
    /* display: flex;*/
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.779);
    box-shadow: 9px 9px 10px rgb(0 0 0 / 30%);
    border-radius: 5%;
        /* max-width: 270px; */
    /* height: 267px; */
    padding: 3%;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 5%;
}

.row{
    padding-top: 3.5em;
    /* background-color: #e0baf138; */
    /* background-color: #dda6f629; */
    /* background-color: #dca6f632; */
    /* text-align: center; */
    margin-top:0;
    --bs-gutter-x: -1.5rem;

}



.card{
    /* background-color:transparent; */
}

.info-contacto{
    font-size: 1em;
}



/* @media (min-width: 356px){


	.row{
		margin-top: 0.5rem;
	}

}
@media (max-width: 355px){


	.row{
		margin-top: 0.5rem;
	}

} */