.card {
    text-align: center;
    vertical-align: middle;
}

.nombre {
    font-size: 1.5rem;
    font-weight: bold;
}

.titulo {
    font-size: 1.2rem;
    font-weight: bold;
}

.acerca-de {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.358);

}

.btn-edit:hover {
    background: lightgrey;
}


.descripcion {

    justify-content: center;
    align-items: center;
    box-shadow: 9px 9px 10px rgb(0 0 0 / 30%);
    border-radius: 2em;
    padding: 3%;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.7em;

}

.img-acercaDe {
    width: 100%;
    height: auto;
    max-height: fit-content;
}

.acercaDe {
    margin-top: -54px;
}

.acercaDe-btnEdit {

    margin-top: -85px;
    margin-bottom: 75px;
}


.row {
    padding-top: 0.5em;
    margin-top: 0;
}

.row-logout{
    margin-top: 3em;
}

.info-contacto {
    font-size: 1em;
    width: 100%;
}

.btn-edit {
    color: #ffc107;
}



@media (min-width: 576px) and (max-width: 1000px) {

    .descripcion {
        margin-left: 0.5em;
        margin-right: 0.2em;
    }

    .acercaDe {
        margin-top: 0em;
    }

    .acercaDe-btnEdit {

        margin-top: 0;
        margin-bottom: 0;
    }

}


@media (max-width: 576px) {

    .acercaDe {
        margin-top: 0;
    }

    .btn-edit {
        margin-right: 10%;
    }

    .acercaDe-btnEdit {

        margin-top: 0;
        margin-bottom: 0;
    }

}