<div class="card descripcion">
  
  <div class="row">

    <div class="titulo">
      <h1> Experiencia Laboral
      </h1>
        <button class="btn btn-success" routerLink="/nuevaExp" *ngIf="isLogged">
          <i class="fa-solid fa-plus"></i>
        </button>
      <hr class="undarline">
    </div>
   
    <div class="card empleo" *ngFor="let Experiencia of expe">
      
      <div class="row">

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 container">
            <img src="{{Experiencia.logoE}}" class="img-fluid logo" >
        </div>

        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 descripcion-empleo">

          <span *ngIf="Experiencia.fechaFinE != null">
            <h2>{{Experiencia.nombreE}}</h2> - 
            <h3> {{Experiencia.fechaInicioE | date : 'MMMM y' : 'es-AR'}}  - {{Experiencia.fechaFinE | date : 'MMMM y'  : 'es-AR' }} </h3>
          </span>
         
          <span *ngIf="Experiencia.fechaFinE 
          == null">
            <h2>{{Experiencia.nombreE}}</h2> - 
            <h3> {{Experiencia.fechaInicioE | date:'MMMM y' : 'es-AR'}}  - Actualidad  </h3>
          </span>
          
         
          <p>{{Experiencia.descripcionE}}</p>
          
          
          <div class="row" *ngIf="isLogged">
            <div class="col-offset-9 col-sm-3 btn-edit-delete">
              <button class="btn btn-edit float-right" routerLink="/editExp/{{Experiencia.id}}">
                <i class="fa-solid fa-pen"></i>
              </button>
              <button class="btn btn-delete float-right" (click)="delete(Experiencia.id)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>

        </div>

      </div>
      
    </div>
    
  </div> 
  
</div>

<app-separador></app-separador>
