<div class="row">
  <!-- <div class="card ">
    <div class="card-header experiencia"> -->
      <h1> Experiencia Laboral</h1>
    <!-- </div>
    <div class="card-body"> -->
      <!-- <div class="row"> -->

          <div class="col-lg-1">
            <p>2019</p>
          </div>
          <div class="col-lg-11">
            <ul>
              <li>
                <h2>Desarrollador Web</h2> - <h3> Julio 2020 - Actualidad</h3>
              </li>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            </ul>


            <ul>
              <li>
                <h2>Desarrollador Web</h2> - <h3> Julio 2020 - Actualidad</h3>
              </li>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            </ul>

            <ul>
              <li>
                <h2>Desarrollador Web</h2> - <h3> Julio 2020 - Actualidad</h3>
              </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            </ul>

          </div>

       <!-- </div> -->
    <!--</div>
  </div> -->
</div>
