section{
    /* margin: 1%; */
    height: 399px;
}


.card{
    margin:1% 7%;
    background: linear-gradient(270deg, rgba(0,0,0,0.3) 62%,rgba(0,0,0,1) 64%,rgba(0,0,0,4) 100%);
    /* height: 354px; */
    border-radius: 11px;
    border: none;
    /* background-image: url( "../../../assets/img/fondo-estrellado.jpg"); */
    /* background-color: rgba(0, 0, 0, 0.71); */
}

.circle{
    display: flex;
    width: auto;
}

@media (min-width: 576px){
    img{
 
        /* height: 353px; */
        /* max-width: auto; */
        border-radius: 11px;
        width: -webkit-fill-available;
    
    }
}
@media (max-width: 576px){
   .form{
        margin-top: -68%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        width: -webkit-fill-available;
   }
}